<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{fragments/head}"></th:block>
<body id="reportsPage">
<div class="" id="addAllergy">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <th:block th:include="~{fragments/navigation-physician}"></th:block>
            </div>
        </div>
        <br/>
        <div class="row tm-mt-big justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Add Prescription</h2>
                        </div>
                    </div>
                    <form
                            th:action="@{/prescriptions/add}"
                            th:method="POST"

                            class="text-dark">
                        <div class="form-row">
                            <div class="col">
                                <label for="patientPin">Patient's PIN:</label>
                                <input th:field="${prescriptionAddBindingModel.patientPin}"
                                       th:errorclass="is-invalid"
                                       minlength="10" maxlength="10"
                                       required
                                       id="patientPin"
                                       name="patientPin"
                                       type="text"
                                       class="form-control"
                                       placeholder="Patient' personal identification number">
                                <small
                                        class="invalid-feedback text-light form-text bg-danger rounded">Can
                                    contain exactly 10 digits!</small>
                                <small th:if="${patientDontExist}" class="text-light form-text bg-danger rounded">Patient
                                    with
                                    that PIN does not
                                    exist!</small>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="col">
                                <label for="prescriptionType">Prescription type:</label>
                                <select th:field="${prescriptionAddBindingModel.prescriptionType}"
                                        th:errorclass="is-invalid"
                                        id="prescriptionType" name="prescriptionType" class="custom-select">
                                    <option value="" selected>Select prescription type</option>
                                    <option
                                            th:each="t : ${T(softuni.com.personal_health_dossier.model.entities.enums.PrescriptionType).values()}"
                                            th:value="${t}"
                                            th:text="${t}">Select prescription type
                                    </option>
                                </select>
                                <small id="specialtyError"
                                       class="invalid-feedback text-light form-text bg-danger rounded">You
                                    must select type.</small>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col">
                                <label for="usageTimes">Number of usages:</label>
                                <input th:field="${prescriptionAddBindingModel.usageTimes}"
                                       th:errorclass="is-invalid"
                                       name="usageTimes"
                                       type="number"
                                       min="0"
                                       id="usageTimes"
                                       class="form-control" placeholder="№ of times">
                                <small
                                        class="invalid-feedback text-light form-text bg-danger rounded">Enter valid
                                    number</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="description">Description:</label>
                                <textarea th:field="${prescriptionAddBindingModel.description}"
                                          th:errorclass="is-invalid"
                                          minlength="3"
                                          required
                                          id="description"
                                          name="description"
                                          type="text"
                                          class="form-control"
                                          placeholder="Prescription description..."></textarea>
                                <small id="contentError"
                                       class="invalid-feedback text-light form-text bg-danger rounded">Should
                                    be at least 3 letters long</small>
                            </div>

                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button class="btn btn-primary btn-block w-50" type="submit">Add Prescription</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!-- row -->
        <div class="row tm-content-row tm-mt-big">

        </div>
        <th:block th:include="~{fragments/footer}"></th:block>
    </div>
</div>

</body>
</html>