<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{fragments/head}"></th:block>
<body id="reportsPage">
<div class="" id="addAllergy">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <th:block th:include="~{fragments/navigation-physician}"></th:block>
            </div>
        </div>
        <br/>
        <div class="row tm-mt-big justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Medical center registry</h2>
                        </div>
                    </div>
                    <form
                            th:action="@{/medical-centers/add}"
                            th:method="POST"

                            class="text-dark">
                        <div class="form-row">
                            <div class="col">
                                <label for="patientPin">Patient's PIN:</label>
                                <input th:field="${medicalCenterAddBindingModel.patientPin}"
                                       th:errorclass="is-invalid"
                                        minlength="10" maxlength="10"
                                        required
                                        id="patientPin"
                                        name="patientPin"
                                        type="text"
                                        class="form-control"
                                        placeholder="Patient personal identification number">
                                <small
                                        class="invalid-feedback text-light form-text bg-danger rounded">Can
                                    contain exactly 10 digits!</small>
                                <small th:if="${patientDontExist}" class="text-light form-text bg-danger rounded">Patient with
                                    that PIN does not
                                    exist!</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="name">Medical center name:</label>
                                <input th:field="${medicalCenterAddBindingModel.name}"
                                       th:errorclass="is-invalid"
                                        minlength="5"
                                        required
                                        id="name"
                                        name="name"
                                        type="text"
                                        class="form-control"
                                        placeholder="Name of the medical center...">
                                <small
                                        class="invalid-feedback text-light form-text bg-danger rounded">Can
                                    be at least 5 letters long!</small>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="address">Medical center address:</label>
                                <input th:field="${medicalCenterAddBindingModel.address}"
                                       th:errorclass="is-invalid"
                                        minlength="5"
                                        required
                                        id="address"
                                        name="address"
                                        type="text"
                                        class="form-control"
                                        placeholder="Address of the medical center...">
                                <small
                                        class="invalid-feedback text-light form-text bg-danger rounded">Can
                                    be at least 5 letters long!</small>

                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="col">
                                <label for="hospitalizationDateAndTime">Date of hospitalization:</label>
                                <input th:field="${medicalCenterAddBindingModel.hospitalizationDateAndTime}"
                                       th:errorclass="is-invalid"
                                        th:max="${#dates.format(#dates.createNow(), 'dd/MM/yyyy HH:mm')}"
                                        required
                                        name="hospitalizationDateAndTime"
                                        id="hospitalizationDateAndTime" type="datetime-local" class="form-control"
                                        placeholder="Date and time when patient has been registered">
                                <small id="hospitalizationDateAndTimeError"
                                       class="invalid-feedback text-light form-text bg-danger rounded">Date
                                    cannot be in the future!</small>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="col">
                                <label for="dischargeDateAndTime">Date of discharge:</label>
                                <input th:field="${medicalCenterAddBindingModel.dischargeDateAndTime}"
                                       th:errorclass="is-invalid"
                                        th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm')}"
                                        required
                                        name="dischargeDateAndTime"
                                        id="dischargeDateAndTime" type="datetime-local" class="form-control"
                                        placeholder="Date and time when patient has been discharged">
                                <small id="dischargeDateAndTimeError"
                                       class="invalid-feedback text-light form-text bg-danger rounded">Date
                                    cannot be in the future!</small>
                                <small th:if="${wrongDates}"
                                       class="text-light form-text bg-danger rounded">Discharge date should be
                                    after hospitalization date!</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="medicalTreatment">Medical treatment:</label>
                                <textarea th:field="${medicalCenterAddBindingModel.medicalTreatment}"
                                          th:errorclass="is-invalid"
                                        minlength="10"
                                        required
                                        id="medicalTreatment"
                                        name="medicalTreatment"
                                        type="text"
                                        class="form-control"
                                        placeholder="Description of the treatment..."></textarea>
                                <small id="medicalTreatmentError"
                                       class="invalid-feedback text-light form-text bg-danger rounded">Should
                                    be at least 10 symbols long</small>
                            </div>

                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button class="btn btn-primary btn-block w-50" type="submit">Hospitalize</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!-- row -->
        <div class="row tm-content-row tm-mt-big">

        </div>
        <th:block th:include="~{fragments/footer}"></th:block>
    </div>
</div>

</body>
</html>