<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{fragments/head}"></th:block>
<body id="reportsPage">
<div class="" id="addAllergy">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <th:block th:include="~{fragments/navigation-physician}"></th:block>
            </div>
        </div>
        <br/>
        <div class="row tm-mt-big justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Add Allergy</h2>
                        </div>
                    </div>
                    <form
                            th:action="@{/allergies/add}"
                            th:method="POST"

                            class="text-dark">
                        <div class="form-row">
                            <div class="col">
                                <label for="patientPin">Patient's PIN:</label>
                                <input th:field="*{allergyAddBindingModel.patientPin}"
                                       th:errorclass="is-invalid"
                                       minlength="10" maxlength="10"
                                       required
                                       id="patientPin"
                                       name="patientPin"
                                       type="text"
                                       class="form-control"
                                       placeholder="Patient personal identification number">
                                <small
                                        class="invalid-feedback text-light form-text bg-danger rounded">Can
                                    contain exactly 10 digits!</small>
                                <small th:if="${patientDontExist}" class="text-light form-text bg-danger rounded">Patient with
                                    that PIN does not
                                    exist!</small>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="col">
                                <label for="registrationDate">Date of registration:</label>
                                <input th:field="${allergyAddBindingModel.registrationDate}"
                                       th:errorclass="is-invalid"
                                       th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                       required
                                       name="registrationDate"
                                       id="registrationDate" type="date" class="form-control"
                                       placeholder="Date when allergy has been registered">
                                <small id="registrationDateError"
                                       class="invalid-feedback text-light form-text bg-danger rounded">Date
                                    cannot be in the future!</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <label for="allergens">Allergens list:</label>
                                <textarea th:field="${allergyAddBindingModel.allergens}"
                                          th:errorclass="is-invalid"
                                          minlength="3"
                                          required
                                          id="allergens"
                                          name="allergens"
                                          type="text"
                                          class="form-control"
                                          placeholder="List of found allergens separated with comma..."></textarea>
                                <small id="contentError"
                                       class="invalid-feedback text-light form-text bg-danger rounded">Should
                                    contain at least one allergen 3 letters long</small>
                            </div>

                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button class="btn btn-primary btn-block w-50" type="submit">Add New Allergy</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!-- row -->
        <div class="row tm-content-row tm-mt-big">

        </div>
        <th:block th:include="~{fragments/footer}"></th:block>

    </div>
</div>

</body>
</html>