<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{fragments/head}"></th:block>

<body id="reportsPage">
<div class="" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <th:block th:include="~{fragments/navigation-patient}"></th:block>
            </div>
        </div>
        <!-- row -->
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div id="table_div"></div>
            </div>

        </div>
        <br>
        <br>
        <br>
        <th:block th:include="~{fragments/footer}"></th:block>
    </div>
</div>


<script th:inline="javascript" type="text/javascript">
    var real_data = /*[[${allergyViewModels}]]*/'noValue';

    $(document).ready(function () {
        google.charts.load('current', {'packages': ['table']});
        google.charts.setOnLoadCallback(drawTable);
    });


    function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Registered on date');
        data.addColumn('string', 'Registered By');
        data.addColumn('string', 'Allergens');
        Object(real_data).forEach(function (el) {
            data.addRow([new Date(el.registeredOnDate), el.doctor, el.allergens]);
        });


        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
    }
</script>
</body>
</html>