<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{fragments/head}"></th:block>

<body>
<div th:object="${patientViewModel}" class="container">
    <div class="row rounded">
        <div class="col-12">
            <nav class="navbar navbar-expand-xl navbar-light bg-light rounded">
                <a class="navbar-brand" th:href="@{/home}">
                    <h1 class="tm-site-title mb-0"><em>Health Dossier</em></h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/home}">
                                <span th:text="|Hello, *{username}|">Hello {username}</span>
                            </a>
                        </li>

                        <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/physicians/add">Add Physician</a>
                                <a class="dropdown-item" href="#">Add Role</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/medical-centers/all/{id}(id=*{id})}">Medical Centers</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/prescriptions/all/{id}(id=*{id})}">Prescriptions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/allergies/all/{id}(id=*{id})}">Allergies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/immunizations/all/{id}(id=*{id})}">Immunizations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/patients/edit-profile/{id}(id=*{id})}">Profile</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="POST">
                                <button type="submit" class="nav-link d-flex btn btn-link">
                                    Logout
                                </button>
                            </form>

                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- row -->
    <div class="row tm-mt-big justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
            <div class="bg-white tm-block">
                <div class="row justify-content-center text-center">
                    <div class="col-12">
                        <h2 th:text="|*{lastName}  Profile|" class="tm-block-title d-inline-block">Patient
                            Profile</h2>
                    </div>
                </div>
                <div class="row mt-4 tm-edit-product-row">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <form
                                th:action="@{/patients/edit-profile/{id}(id=*{id})}"
                                method="POST"
                                enctype="multipart/form-data"
                                class="text-dark tm-edit-product-form">
                            <div class="form-row m-5">
                                <div class="col">
                                    <label for="inputUsername">Username</label>
                                    <input name="username"
                                           th:field="${patientEditProfileBindingModel.username}"
                                           th:errorclass="is-invalid"
                                           aria-describedby="usernameHelpInline"
                                           id="inputUsername"
                                           type="text" class="form-control" th:placeholder="*{username}">
                                    <small
                                            id="usernameError"
                                            class="invalid-feedback text-light form-text bg-danger rounded">Username
                                        can't be longer than 20
                                        symbols</small>
                                    <small th:if="${usernameExists}" class="text-light form-text bg-danger rounded">Username
                                        is
                                        already
                                        used</small>
                                </div>
                                <div class="col">
                                    <label for="firstName">First name</label>
                                    <input th:field="${patientEditProfileBindingModel.firstName}"
                                           th:errorclass="is-invalid"
                                           name="firstName"
                                           id="firstName" type="text" class="form-control"
                                           th:placeholder="*{firstName}">
                                    <small
                                            id="firstNameError"
                                            class="invalid-feedback text-light form-text bg-danger rounded">Should start
                                        with capital letter and latin or cyrillic letters can be used.</small>
                                </div>
                            </div>
                            <div class="form-row m-5">
                                <div class="col">
                                    <label for="middleName">Middle name</label>
                                    <input name="middleName"
                                           th:field="${patientEditProfileBindingModel.middleName}"
                                           th:errorclass="is-invalid"
                                           maxlength="23"
                                           type="text" id="middleName"
                                           class="form-control" th:placeholder="*{middleName}?:'Middle Name'">
                                    <small
                                            class="invalid-feedback text-light form-text bg-danger rounded">Should start
                                        with capital letter and latin or cyrillic letters can be used.</small>
                                </div>
                                <div class="col">
                                    <label for="lastName">Last name</label>
                                    <input name="lastName"
                                           th:field="${patientEditProfileBindingModel.lastName}"
                                           th:errorclass="is-invalid"
                                           maxlength="23"
                                           type="text" id="lastName"
                                           class="form-control" th:placeholder="*{lastName}">
                                    <small
                                            class="invalid-feedback text-light form-text bg-danger rounded">Should start
                                        with capital letter and latin or cyrillic letters can be used.</small>
                                </div>
                            </div>
                            <div class="form-row m-5">
                                <div class="col">
                                    <label for="oldPassword">Old password</label>
                                    <input name="oldPassword"
                                           th:field="${patientEditProfileBindingModel.oldPassword}"
                                           th:errorclass="is-invalid"
                                           type="password"
                                           id="oldPassword"
                                           class="form-control" placeholder="Old password">
                                    <small
                                            class="invalid-feedback text-light form-text bg-danger rounded">Enter valid
                                        password</small>
                                    <small th:if="${wrongPassword}" class="text-light form-text bg-danger rounded">Wrong
                                        password!</small>
                                </div>
                                <div class="col">
                                    <label for="newPassword">New password</label>
                                    <input name="newPassword"
                                           th:field="${patientEditProfileBindingModel.newPassword}"
                                           th:errorclass="is-invalid"
                                           type="password"
                                           id="newPassword"
                                           class="form-control" placeholder="New password">
                                    <small

                                            class="invalid-feedback text-light form-text bg-danger rounded">Enter valid
                                        password</small>
                                    <small th:if="${emptyPassword}" class="text-light form-text bg-danger rounded">
                                        New password is empty!</small>
                                </div>

                            </div>

                            <div class="form-row m-5">
                                <div class="col">
                                    <label for="mobileNumber">Mobile number</label>
                                    <input name="mobileNumber"
                                           th:field="${patientEditProfileBindingModel.mobileNumber}"
                                           th:errorclass="is-invalid"
                                           type="tel"
                                           id="mobileNumber"
                                           class="form-control" th:placeholder="*{mobileNumber}?:'Mobile number'">
                                    <small

                                            class="invalid-feedback text-light form-text bg-danger rounded">Should start
                                        with '+' and contains only digits</small>

                                </div>
                                <div class="col">
                                    <label for="add-image">Change picture</label>
                                    <input type="file" class="form-control-file" id="add-image" name="img">
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-4">
                                <button class="btn btn-success btn-block w-50 rounded" type="submit">Edit profile
                                </button>
                            </div>
                        </form>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                        <img th:src="*{imgUrl}?:'/img/user-picture.jpg'" alt="Profile Image"
                             class="img-fluid mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="~{fragments/footer}"></th:block>
</div>

</body>

</html>